<div class="container">
<h3>Create Pizza</h3>
<div class="row">
  <form [formGroup]="pizzaForm" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input type="text" formControlName="name" name="pizzaName">
        <label for="pizzaName" [ngClass]="{'active': pizzaForm.get('name').value}">Pizza Name</label>
      </div>

      <div class="input-field col s12" *ngIf="availableToppings">
        <input type="text" id="autocomplete-input" class="autocomplete" autocomplete="off"
          appAutocomplete [data]="availableToppings" (autocomplete)="onAutocomplete($event)">
        <label for="autocomplete-input">Add new topping</label>
        <span class="helper-text" data-error="wrong" data-success="right">Select the topping for the pizza</span>
        <div class="btn right" (click)="onToppingAdd()">
          <span>Add</span>
        </div>
      </div>

      <ul class="collection" *ngIf="toppings.controls.length > 0">
        <li class="collection-item" *ngFor="let topping of toppings.controls; let i=index" [formGroup]="topping">
          {{topping.value.name}}
        </li>
      </ul>
    </div>
    <button class="btn right" (click)='onSave()' *ngIf="newPizzaMode">Save</button>
  </form>
</div>
</div>
