<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Great Pizza</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="[ '/pizzas' ]" routerLinkActive="active">Pizzas</a></li>
        <li><a [routerLink]="[ '/toppings' ]" routerLinkActive="active">Toppings</a></li>
      </ul>
    </div>
  </nav>   
</header>
<main>
  <router-outlet></router-outlet>
</main>
<!-- <footer class="page-footer">
  <div class="container">
    <div class="row right">
      © 2019 
    </div>
  </div>
</footer> -->