<header>
  <nav>
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">Great Pizza</a>
      <a data-target="mobile-menu" class="sidenav-trigger">
        <i class="fa fa-bars"></i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="[ '/pizzas' ]">Pizzas</a></li>
        <li><a [routerLink]="[ '/toppings' ]">Toppings</a></li>
      </ul>
    </div>
  </nav>  
  <ul appSidenav class="sidenav" id="mobile-menu">
    <li><a [routerLink]="[ '/pizzas' ]">Pizzas</a></li>
    <li><a [routerLink]="[ '/toppings' ]">Toppings</a></li>
  </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<!-- <footer class="page-footer">
  <div class="container">
    <div class="row right">
      © 2019 
    </div>
  </div>
</footer> -->